<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE }}">
	<title>
		{% block head_title %} Pegaso.com {% endblock head_title %}
	</title>
</head>
<body>


<form class="register_form" method="post" action="{% url 'auth:password_reset' %}"> <!-- Esta parte tiene que coincidir con el name del loginView -->
	{% csrf_token %}

	{% if messages %}
		{% for message in messages %}{{ message }}{% endfor %}
			
	{% endif %}

	{{ form.as_p }}

	<input type="submit" value="reset" />
	<input type="hidden" name="next" value="{{ next }}" />
</form>


</body>

</html>